section {
  display: flex;
  /* padding: 1rem 1rem 3rem; */
}
h2 {
  padding: 0 1rem;
}
p {
  text-align: center;
}
button {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: blue;
  border-radius: 20px;
  color: white;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}
